<div id="overlaySpalsh" [style.display]="splash ? 'block': 'none'" ng-hide="splash">
  <div text-center id="splashImage">
    <img src="assets/fb2.jpg" #myElement alt="facebook logo">
  </div>
</div>

<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <br>
  
  <div #rubberBand text-center>
    <button ion-button (click)="moveRubberBand()">Zoom In</button>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div #zoomIn text-center>
    <button ion-button (click)="zoomItIn()">Zoom In</button>
  </div>
  <br>
  <br>
  <br>

  <div #pulse text-center>
    <button ion-button (click)="pulseIt()">Pulse</button>
  </div>
  <br>
  <br>
  <br>

  <div #bounceOut text-center>
    <button ion-button (click)="bounceItOut()">Bounce Out</button>
  </div>
  <br>
  <br>
  <br>

  <div #fadeIn text-center>
    <button ion-button (click)="fadeInFunc()">Fade In Up</button>
  </div>

</ion-content>