page-main {
#overlaySpalsh{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  display: none;
  width:100%;
  background-color: #3b5998;
}
#splashImage{
  position: relative;
  top:44%;
}
#splashImage > img{
  width: 70px;
  height:70px
}
}
