<ion-content>

  <ion-slides (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideMoved()">

    <ion-slide>
      <div class="diag" style="background: url('assets/img/whitebg.svg') no-repeat">
        <ion-icon ios="ios-analytics" md="md-analytics" color="primary" [@bounce]='state' (@bounce.done)="animationDone()"></ion-icon>
      </div>
      <div [@bounce]='state'>
        <h2>Track your routine</h2>
        <p>whether it's sets, reps, weight used, you can track it all with our intuitive interface.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="diag" style="background: url('assets/img/whitebg.svg') no-repeat">
        <ion-icon ios="ios-trophy" md="md-trophy" color="primary" [@bounce]='state'></ion-icon>
      </div>
      <div [@bounce]='state'>
        <h2>Set personal goals</h2>
        <p>we're all in the gym for a reason: goals. set goals for diet and fitness.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="diag" style="background: url('assets/img/whitebg.svg') no-repeat">
        <ion-icon ios="ios-chatboxes" md="md-chatboxes" color="primary" [@bounce]='state'></ion-icon>
      </div>
      <div [@bounce]='state'>
        <h2>Chat with others</h2>
        <p>inspire and help each other reach fitness and diet goals.</p>
      </div>
    </ion-slide>
  </ion-slides>

  <button (click)="goToMainPage()" id="skip">{{ skipMsg }}</button>

</ion-content>